<!DOCTYPE html>
<html>

<head lang="pt-br">
	<title>Cartesi Rollups Dapp</title>
	<meta charset="utf-8">

    <!-- Bootstrap -->
	<link href="bootstrap-5.1.3-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Font Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>

    <!-- Leaflet Javacript (Make sure you put this AFTER Leaflet's CSS) -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>

    <style>
        .clickable-row{
            cursor:pointer;
        }
    </style>
</head>

<body id="home" style="padding-top: 70px;">

    <nav class="navbar navbar-light bg-light navbar-expand-md fixed-top border-bottom">
		<div class="container position-relative">
           <a class="navbar-brand" href="/">
               <img src="assets/images/logo.png" style="height: 48px;" alt="IoT Rollups DApp">
            </a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav position-absolute top-50 start-50 translate-middle">
                    <li class="nav-item">
                        <a class="nav-link active disabled font-weight-bolder" aria-current="Dashboard" href="">Dashboard</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link" aria-current="Form" href="/form">Form</a>
                    </li>                        
                </ul>
            </div>

        </div>
    </nav>

    <div class="row mt-4 mx-2">
        <div class="p-1 text-center col-2">
            <hr>
            <h4>Filter</h4>
            <form action="/" method="post" >
                <div class="form-floating mb-3">
                    <% if (filter_options.filterBusLine) { %>
                        <input type="text" class="form-control" id="filterBusLine" name="filterBusLine" value=<%= filter_options.filterBusLine %>>
                    <% } else { %>
                        <input type="text" class="form-control" id="filterBusLine" name="filterBusLine" value="">
                    <% } %>
                    <label for="filterBusLine">Filter by Bus Line</label>
                </div>
        
                <div class="form-floating mb-3">
                    <select class="form-select" id="fineTypeSelector" name="fineTypeSelector" aria-label="Fine Select Filter">
                        <% if (filter_options.fineTypeSelector) { %>
                            <% let options = {"0": "All", "1": "Out of Route", "2": "Late"} %>
                            <% for (k in options) { %>
                                <% if (filter_options.fineTypeSelector == k) { %>
                                    <option value=<%= k %> selected> <%= options[k] %> </option>
                                <% } else { %>
                                    <option value=<%= k %> > <%= options[k] %> </option>
                                <% } %>            
                            <% } %>
                        <% } else { %>
                            <option value="0" selected>All</option>
                            <option value="1">Out of Route</option>
                            <option value="2">Late</option>
                        <% } %>
                    </select>
                    <label for="fineTypeSelector">Fine Type</label>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary mb-3" name="submitButton" value="1">Filter</button>
                    <button type="submit" class="btn btn-danger mb-3" name="submitButton" value="0">Clear</button>
                </div>
            </form>
            
            <hr>    
        </div>

        <div class="col-8">
            <table id="finesTable" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Bus Line</th>
                        <th scope="col">Timestamp</th>
                        <th scope="col">Fine Description</th>
                        <th scope="col">Fine Value (R$)</th>
                    </tr>
                </thead>
                
                <tbody>
                    <% if (notices) { %>
                        <% for (var i = 0; i < notices.length; i++) { %>
                            <tr class="clickable-row" id="<%= i %>" onclick="draw_notice('<%= JSON.stringify(notices[i])%>')">
                                <td><%= notices[i].bus_line %></td>
                                <td><%= notices[i].ts %></td>
                                <td><%= notices[i].dsc %></td>
                                <td><%= notices[i].value %></td>
                            </tr>
                        <% } %>
                    <% } else { %>
                        <tr><td colspan="4" class="text-center">No data to show</td></tr>
                    <% } %>
                </tbody>
            </table>   
    
            <% if (pagination) { %>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <% for (var i = 0; i < pagination.length; i++) { %>
                            <% const item = pagination[i] %>
                            <% //const page_href = "/?page=" + item.val %>
                            <% const page_href = item.val %>
                            <% if (item.disabled) { %>
                                <li class="page-item disabled"><a class="page-link" href=<%= page_href %> title=<%= item.title %> > <%= item.label %> </a></li>
                            <% } else { %>
                                <li class="page-item"><a class="page-link" href=<%= page_href %> title=<%= item.title %> > <%= item.label %> </a></li>
                            <% } %> 
                        <% } %> 
                    </ul>
                </nav>
            <% } %>    
        </div>
    </div>

    <div id="map" style="height: 300px;"></div>

</body>

<script>
    function draw_notice(notice_str) {
        let notice = JSON.parse(notice_str)

        let myStyle = {
            "color": "#ff7800",
            "weight": 5,
            "opacity": 0.65
        };
        
        let route = []
        for (let i = 0; i < notice.expected_route.length; i++) {
            route.push([ notice.expected_route[i][1], notice.expected_route[i][0] ])
        }

        let geo_line = {
            "type": "LineString",
            "coordinates": route
        }


        let curr_coord = [ notice.curr_coords[1], notice.curr_coords[0] ]
        let geo_point = {
            "type": "Point",
            "coordinates": curr_coord
        }

        map.flyTo(notice.curr_coords)

        L.geoJSON(geo_line, {
            style: myStyle
        }).addTo(map);

        L.geoJSON(geo_point, {
            style: myStyle
        }).addTo(map);

    }

    var map = L.map('map').setView([57.828479, 26.533621], 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap'
    }).addTo(map);

</script>