<!DOCTYPE html>
<html>

<head lang="pt-br">
	<title>Cartesi Rollups Dapp</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap -->
    <link href="bootstrap-5.1.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap Font Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>

    <!-- Leaflet Javacript (Make sure you put this AFTER Leaflet's CSS) -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>
    
    <!-- AJAX -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <style>
        .clickable-row{
            cursor:pointer;
        }
        .clickable-row:hover{
            /* background-color: rgb(237, 245, 129); */
            background-color: bisque;
        }
        .btn-light:hover, .btn-light:focus{
            background-color: bisque;
        }
    </style>
</head>

<!-- Schedule Modal -->
<div class="modal fade" id="scheduleModal" tabindex="-1" role="dialog" aria-labelledby="scheduleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scheduleModalLabel">Upload Bus Schedule</h5>
            </div>

            <!-- BEGIN FORM -->
            <form>

                <!-- BEGIN MODAL BODY -->
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="scheduleFile" class="form-label">Load Schedule From JSON file</label>
                        <input class="form-control" type="file" accept=".json" id="scheduleFile" onchange="loadFileContent()">
                    </div>        
                <!-- END MODAL BODY -->
                </div>
                
                <div class="modal-footer">
                    <div class="text-center">
                        <button type="submit" id="schedule-btn-submit" class="btn btn-primary text-center" onclick="formSubmit()">Submit</button>
                    </div>
                </div>
            
            <!-- END FORM -->                 
            </form>

        </div>
    </div>
</div>


<!-- Filter Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Fines's Filter</h5>
            </div>

            <!-- BEGIN FORM -->
            <form action="/" method="post" >

                <!-- BEGIN MODAL BODY -->
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="form-floating mb-3">
                            <% if (filter_options.filterBusLine) { %>
                                <input type="text" class="form-control" id="filterBusLine" name="filterBusLine" value=<%= filter_options.filterBusLine %>>
                            <% } else { %>
                                <input type="text" class="form-control" id="filterBusLine" name="filterBusLine" value="">
                            <% } %>
                            <label for="filterBusLine">Filter by Bus Line</label>
                        </div>
                
                        <div class="form-floating mb-3">
                            <select class="form-select" id="fineTypeSelector" name="fineTypeSelector" aria-label="Fine Select Filter">
                                <% if (filter_options.fineTypeSelector) { %>
                                    <% let options = {"0": "All", "1": "Out of Route", "2": "Late"} %>
                                    <% for (k in options) { %>
                                        <% if (filter_options.fineTypeSelector == k) { %>
                                            <option value=<%= k %> selected> <%= options[k] %> </option>
                                        <% } else { %>
                                            <option value=<%= k %> > <%= options[k] %> </option>
                                        <% } %>            
                                    <% } %>
                                <% } else { %>
                                    <option value="0" selected>All</option>
                                    <option value="1">Out of Route</option>
                                    <option value="2">Late</option>
                                <% } %>
                            </select>
                            <label for="fineTypeSelector">Fine Type</label>
                        </div>
                        
                        <div class="form-floating mb-3">
                            <select class="form-select" id="epochSelector" name="epochSelector" aria-label="Epoch Select">
                                <% for (var e = 0; e <= current_epoch; e++) { %>
                                    <% if (e == viewing_epoch) {%>
                                        <option value=<%= e %> selected><%= e %></option>    
                                    <% } else { %>
                                        <option value=<%= e %>><%= e %></option>
                                    <% } %>
                                <% } %>
                            </select>
                            <label for="epochSelector">Epoch</label>
                        </div>
                    </div>
                
                <!-- END MODAL BODY -->
                </div>
                
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary mb-3" data-bs-dismiss="modal" name="submitButton" value="1">Filter</button>
                    <button type="submit" class="btn btn-danger mb-3" data-bs-dismiss="modal" name="submitButton" value="0">Clear</button>
                </div>
            
            <!-- END FORM -->                 
            </form>

        </div>
    </div>
</div>



<body id="home" style="padding-top: 70px;">

    <nav class="navbar navbar-light bg-light navbar-expand-md fixed-top border-bottom">
		<div class="container position-relative">
           <a class="navbar-brand" href="/">
               <img src="assets/images/logo.png" style="height: 48px;" alt="IoT Rollups DApp">
            </a>

            <!-- <div class="collapse navbar-collapse">
                <ul class="navbar-nav position-absolute top-50 start-50 translate-middle">
                    <li class="nav-item">
                        <a class="nav-link active disabled font-weight-bolder" aria-current="Dashboard" href="">Dashboard</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link" aria-current="Form" href="/form">Form</a>
                    </li>                        
                </ul>
            </div> -->
        </div>
    </nav>

    <div class="row mt-4 mx-2">
        <div id="map" class="col-9"></div>

        <div class="col-3">
            <div>
                <ul class="list-group list-group-horizontal mb-1">
                    <li class="list-group-item border-0 flex-fill p-0">
                        <h4 class="m-0">Fines's Table</h4>
                        <small class="text-muted"><%= `Epoch: 0/${current_epoch}` %></small>
                    </li>

                    <li class="list-group-item border-0 p-0 me-auto">
                        <!-- Button trigger modal schedule -->
                        <button type="button" title="Clear Map" class="btn btn-light" onclick="clear_map()">
                            <i class="bi bi-x-circle"></i>
                        </button>
                    </li>

                    <li class="list-group-item border-0 p-0 me-auto">
                        <!-- Button trigger modal schedule -->
                        <button type="button" title="Upload Bus Schedule" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#scheduleModal">
                            <i class="bi bi-upload"></i>
                        </button>
                    </li>


                    <li class="list-group-item border-0 p-0 me-auto">
                        <!-- Button to open/close histogram graph -->
                        <button type="button" title="Histogram" class="btn btn-light">
                            <i class="bi bi-bar-chart-line"></i>
                        </button>
                    </li>

                    <li class="list-group-item border-0 p-0 me-auto">
                        <!-- Button to open/close time-series graph -->
                        <button type="button" title="Time Series" class="btn btn-light">
                            <i class="bi bi-graph-up"></i>
                        </button>
                    </li>

                    <li class="list-group-item border-0 p-0 me-auto">
                        <!-- Button trigger modal filter -->
                        <button type="button" title="Filter" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#filterModal">
                            <i class="bi bi-filter-circle"></i>
                        </button>
                    </li>
                </ul>
            </div>
            <table id="finesTable" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Bus Line</th>
                        <th scope="col">Timestamp</th>
                        <!-- <th scope="col">Fine Description</th> -->
                        <th scope="col">Fine Value (R$)</th>
                    </tr>
                </thead>
                
                <!-- Notices -->
                <tbody>
                    <% if (notices) { %>
                        <% let notice %>
                        <% for (var i = 0; i < notices.length; i++) { %>
                            <% notice = notices[i] %>
                            <tr class="clickable-row" id="<%= `${notice.epoch_index};${notice.input_index}` %>" onclick="draw_notice('<%= JSON.stringify(notice)%>')">
                                <td><%= notice.bus_line %></td>
                                <td><%= notice.ts %></td>
                                <!-- <td><%= notice.dsc %></td> -->
                                <td><%= notice.value %></td>
                            </tr>
                        <% } %>
                    <% } else { %>
                        <tr><td colspan="4" class="text-center">No data to show</td></tr>
                    <% } %>
                </tbody>
            </table>   
    
            <!-- Pagination -->
            <% if (pagination) { %>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <% for (var i = 0; i < pagination.length; i++) { %>
                            <% const item = pagination[i] %>
                            <% //const page_href = "/?page=" + item.val %>
                            <% const page_href = item.val %>
                            <% if (item.disabled) { %>
                                <li class="page-item disabled"><a class="page-link" href=<%= page_href %> title=<%= item.title %> > <%= item.label %> </a></li>
                            <% } else { %>
                                <li class="page-item"><a class="page-link" href=<%= page_href %> title=<%= item.title %> > <%= item.label %> </a></li>
                            <% } %> 
                        <% } %> 
                    </ul>
                </nav>
            <% } %>    
        </div>
    </div>

</body>


<script src="js/appUI.js"></script>
<script src="js/connection.js"></script>
<script>
    // initializing appUI controller
    var appUI = new AppUI("map")

</script>
<script src="js/map_control.js"></script>
